<ion-view view-title="Cotizaciones">
<ion-content>

<div class="card" >		
	<div class="list">

		<a class="item item-thumbnail-left" ng-click="FN_Detalles_Cotizacion($index)" href="#/app/cotizaciones/dllcotizacion" ng-repeat="Co in Dato.OB_Cotizaciones">
			<h2>Codigo De Cotizacion:</h2>
			<p>{{Co.PK_ID_Cotizacion_Usuario}}</p>
			<h2>Codigo De Usuario:</h2>
			<p>{{Co.FK_ID_Usuario}}</p>
			<h2>Fecha De Cotizacion:</h2>
			<p>{{Co.Fecha_Cotizacion}}</p>
			<h2>Dirección De Entrega:</h2>
			<p>{{Co.Direccion_entrega}}</p>
			<h2>Telefono_Entrega:</h2>
			<p>{{Co.Telefono_Entrega}}</p>
		</a>
	</div>
</div>



<!--
<div class="card">
	<ion-list ng-repeat="c in Obb_Detalles_Cotizacion">

	<img src="{{c.Ruta_Imagen_Producto}}" alt="">
	<h2>
		Nombre de producto:
	</h2>

	<p>
		{{c.Nombre_Producto}}
	</p>

	<h2>
		Cantidad de producto:
	</h2>
	<p>
		{{c.Cantidad_Productos}}
	</p>

	<h2>
		Subtotal:
	</h2>

	<p>
		{{c.Sub_Total}}
	</p>

	<h2>
		Valor Unitario:
	</h2>

	<p>
		{{c.Valor_Unitario}}
	</p>

</ion-list>
</div>
-->
</ion-content>
</ion-view>