<ion-view view-title="Formulario de registro">
<ion-content>
<div ui-view="login">
  <div class="card">
    <div class="list">
      <label class="item item-input item-floating-label"><span class="input-label">Nombre De Usuario</span><input ng-model="OB_Registro_Usuario.Nombre_Usuario" type="text" placeholder="Nombre De Usuario" minlength="3"></label>

      <label class="item item-input item-floating-label"><span class="input-label">Contraseña</span><input ng-model="OB_Registro_Usuario.Contrasenia" type="text" placeholder="Contraseña" minlength="3"></label>


      <label class="item item-input item-floating-label"><span class="input-label">Email</span><input ng-model="OB_Registro_Usuario.Correo_Electronico" type="text" placeholder="Email" minlength="3"></label>


      <label class="item item-input item-floating-label"><span class="input-label">Municipio</span><input ng-model="OB_Registro_Usuario.Municipio" type="text" placeholder="Municipio" minlength="3"></label>

      <label class="item item-input item-floating-label"><span class="input-label">Departamento</span><input ng-model="OB_Registro_Usuario.Departamento" type="text" placeholder="Departamento" minlength="3"></label>


      <label class="item item-input item-floating-label"><span class="input-label">Telefono Celular</span><input ng-model="OB_Registro_Usuario.Telefono_celular" type="text" placeholder="Telefono Celular" minlength="3"></label>

      <select name="Empresa" ng-model="OB_Registro_Usuario.Posee_Empresa">
        <option value="SI",ng-click="OB_Registro_Usuario.Posee_Empresa = 'SI'">SI</option>
        <option value="NO",ng-click="OB_Registro_Usuario.Posee_Empresa = 'NO'">NO</option>
      </select>
      <hr>
      <br>
      <div class="Botones">
        <button class="button button-dark button-full" ng-disabled="!OB_Registro_Usuario.Nombre_Usuario || !OB_Registro_Usuario.Contrasenia ||  !OB_Registro_Usuario.Correo_Electronico || !OB_Registro_Usuario.Municipio || !OB_Registro_Usuario.Departamento || !OB_Registro_Usuario.Telefono_celular" ng-click="FN_Registrar_Usuario()">Registrarse</button>

      </div>
    </div> 
  </div>
</div>

</ion-content>
</ion-view>
