//medidas para la pagina web


 @include desde(movil) {
   .CL_Body_Menu_Desplegado
	{
		width: 100%;
		margin-left: 250px;
	}
	.CL_Body_Menu_Oculto
	{
		width: auto;
		margin-left: 0px;
	}
	 .CL_Header_Menu_Desplegado
    {
        width: 100% !important;
    }
    .CL_Header_Menu_Oculto

    {
        width: 85% !important;
    }
}
