//Botones usados en la web

@mixin MX_Btn_Estilos() {
  %PH_Btn_Estilo_General {
    padding: 7px 10px;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    border:none;
    font-family: 'Ubuntu', sans-serif;
    margin:5px;
    @include MX_Box_Shadow(0px, 0px, 1px, 0px,rgba(0,0,0,5/10));
    &:hover {
      opacity: 0.8;
    }
    &:before {
      margin-right: 4px;
    }
    &:disabled {
      opacity: 0.6;
      cursor: default;
    }

    @include desde(movil) {
      font-size: 12px;
      padding: 9px 17px;


    }
    @include desde(tablet) {
      font-size: 14px;
      padding: 8px 16px;

    }
    @include desde(web) {
      font-size: 14px;
      padding: 9px 13px;

    }
    @include desde(Hd) {
      font-size: 15px;
      padding: 9px 10px;

    }

  }
  .Btn_Estilo_1 {
    color: #FFF;
    background-color: #739e73;
    border-color: #659265;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_2 {
    color: #FFF;
    background-color: $Color_10;
    border-color: $Color_10;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_3 {
    color: #FFF;
    background-color: rgba($Color_21, .8);
    border-color: $Color_21;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_4 {
    color: #fff;
    background-color: $Color_18;
    border-color: $Color_18;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_5 {
    color: #455A64;
    background-color: #FAFAFA;
    border-color: #F1F2F4;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_6 {
    color: #FFF;
    background-color: #3B5998;
    border-color: #3B5998;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_7 {
    color: #FFF;
    background-color: #E52C5A;
    border-color:#D22852;
    @extend %PH_Btn_Estilo_General;
  }

  //bordeados
  .Btn_Estilo_1_1 {
    color: #38ae67;
    background-color: transparent;
    border:solid 1px #739e73;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_2_2 {
    color: $Color_10;
    background-color: transparent;
    border:solid 1px $Color_10;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_3_3 {
    color: $Color_21;
    background-color: transparent;
    border:solid 1px $Color_21;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_4_4 {
    color: $Color_18;
    background-color: transparent;
    border:solid 1px $Color_18;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_5_5 {
    color: #455A64;
    background-color: transparent;
    border:solid 1px #FAFAFA;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_6_6 {
    color: #3B5998;
    background-color: transparent;
    border:solid 1px  #3B5998;
    @extend %PH_Btn_Estilo_General;
  }
  .Btn_Estilo_7_7 {

    color: #D22852;
    background-color: transparent;
    border:solid 1px  #E52C5A;
    @extend %PH_Btn_Estilo_General;
  }
}
@mixin MX_Select_Estilos() {
  //select
  %PH_Select_Estilo_General {
    padding: 8px;
    margin: 12px 0px;

    &:focus,
    &:hover {
      cursor: default;
      border:1px solid $Color_21;
      @include MX_Box_Shadow(0px,0px, 5px, 0px, $Color_21);

    }
  }

  .Select_1
  {

    @extend %PH_Select_Estilo_General;
    color: $Color_11;
    border: solid 1px $Color_20;
  }
  .Select_2
  {

    @extend %PH_Select_Estilo_General;
    color: $Color_11;
    border: none;
    border-bottom: solid 1px $Color_10;
  }
  .Select_3
  {

    @extend %PH_Select_Estilo_General;
    color: $Color_11;
    border: none;
    border-bottom: solid 1px $Color_5;
  }


}

@mixin MX_Radio_Botton_Estilos() {
  //select
  %PH_Radio_Botton_General {
    margin-left: 5px;
    position: relative;
    padding: 9px 10px;
    height: auto;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @include MX_Bor_Radius(2px,0);
    @include MX_Animacion_Normal(2/10, linear, 2/10);
    @include MX_Box-Sizing(border-box);
    @include Texto_Estilo_1(15px,none,100,center);
    @include MX_Box_Shadow(0px,0px, 1px, 0px, rgba(0,0,0,6/10));



    input[type="radio"]:checked + &:before
    {
      display: none;

    }
    input[type="radio"]:checked + &
    {

      padding: 9px 15px;

      @include MX_Animacion_Normal(2/10, linear, 2/10);


    }
  }
  //esta clase se le debe poner al input radio botton para ocultarlo
  .Btn_Radio
  {
    display: none;
  }



  //clase para el label que esta con el input
  .RadioBtn_1
  {
    @extend %PH_Radio_Botton_General;
    background: #FAFAFA;
    color: #3B5998;

    input[type="radio"]:checked + &
    {
      color: #fff !important;
      background: #3B5998;
    }

  }
  .RadioBtn_2
  {
    @extend %PH_Radio_Botton_General;
    background: #FAFAFA;
    color: #3B5998;

    input[type="radio"]:checked + &
    {
      color: #fff;
      background: $Color_10;
    }

  }
  .RadioBtn_3
  {
    @extend %PH_Radio_Botton_General;
    background: #FAFAFA;
    color: #3B5998;

    input[type="radio"]:checked + &
    {
      color: #fff;
      background: #8BC34A;


    }

  }



}
//para los mensajes de notificaciones
@mixin MX_CheckBox() {

  //esta clase se le debe poner al input radio botton para ocultarlo
  .Btn_CheckBox
  {
    display: none;
  }

  .CL_Check_Box_1
  {
    display: flex;
    align-items:center;
  }
  .CL_Check_Box_Remplazo
  {
    border: solid 1px rgba($Color_12, .8);
    width: 20px;
    height: 20px;
    float: right;
    display: flex;
    align-items:center;
    position: relative;

    &:hover:before{
      display: block;
    }

    &:before
    {
      content: 'J';
      color: $Color_11;
      font-size: 13px;
      font-family: ordes-presale;
      position: absolute;
      top: 2px;
      left: 4px;
      display: none;
      margin-right: 5px;

    }

  }
  .CL_TXT_Chek_Box_Remplazo{

    margin-left: 5px;
  }

  input#INPUT_Chek_Recordatorio:checked + .CL_Check_Box_Remplazo:before, input#INPUT_Chek_Recordatorio2:checked + .CL_Check_Box_Remplazo:before,input#INPUT_Chek_Recordatorio3:checked + .CL_Check_Box_Remplazo:before,input#INPUT_Chek_Recordatorio4:checked + .CL_Check_Box_Remplazo:before,
  input#INPUT_Chek_Recordatorio5:checked + .CL_Check_Box_Remplazo:before,input#INPUT_Chek_Recordatorio6:checked + .CL_Check_Box_Remplazo:before,input#INPUT_Chek_Recordatorio7:checked + .CL_Check_Box_Remplazo:before
  {
    display: block;
  }
  
}




//para los mensajes de notificaciones
@mixin MX_Notificaciones_Estilos() {
  .CL_Estado_CONT {
    border-top: solid 1px $Color_2;
    border-bottom: solid 1px $Color_2;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include MX_Animacion_Normal(3/10,ease,3/10);


    &:hover
    {
      background-color: $Color_2;
    }
    &:hover p.CL_Estado_Confirmado {
      color: $Color_6;
      background-color: $Color_14;
    }
    &  p.CL_Estado_Confirmado {
      line-height: 0;
      color: $Color_13;
    }
    ///////////////////////////////
    &:hover p.CL_Estado_EnProgreso {
      color: $Color_6;
      background-color: $Color_12;
    }
    &  p.CL_Estado_EnProgreso {
      line-height: 0;
      color: $Color_12;
    }
    ////////////////////////////////////
    &:hover p.CL_Estado_Cancelado {
      color: $Color_6;
      background-color: $Color_10;
    }
    &  p.CL_Estado_Cancelado {
      line-height: 0;
      color: $Color_10;
    }


    .CL_Icono_Estado p {
      width: 33px;
      height: 33px;
      font-size: 16px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      @include MX_Box_Shadow(0px,0px, 6px, 0px, rgba(0,0,0,3/10));
    }

  }
}
//este mixin es para el boton nuevo mensaje ubicado en la parte derecha-baja de la pantalla
@mixin MX_Btn_Nuevo_Mensaje() {

  .Btn_Circular_Hijo{

    width: 35px !important;
    height: 35px !important;
    font-size: 15px !important
  }
  %PH_Btn_Circular_Estilo{
    font-size: 21px;
    position: fixed;
    z-index: 100;
    width: 50px;
    height: 50px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border:solid 1px transparent;
    @include MX_Box-Sizing(border-box);
    @include MX_Animacion_Normal(0.1, linear, 0.1);
    @include MX_Box_Shadow(0px,0px, 3px, 0px, rgba(0,0,0,5/10));
    @include MX_Bor_Radius(50%,0);

    & p.CL_TXT_Info_Btn {
      position: absolute;
      left: -80px;
      top: -32px;
      padding: 6px;
      border-radius: 5px;
      font-size: 15px;
      display: none;
      font-weight: bold;
    }
    &:hover {
      @include MX_Box_Shadow(0px,0px, 3px, 0px, rgba(0,0,0,6/10));
      font-size: 17px;
      width: 50px;
      height: 50px;
    }
    &:hover p.CL_TXT_Info_Btn {
      display: block;
    }
    &:disabled {
      opacity: 0.6;
      cursor: default;
    }

   & p.CL_TXT_Info_Btn_Desplegado {
      position: absolute;
      left: -80px;
      top: -32px;
      padding: 6px;
      border-radius: 5px;
      font-size: 15px;
      display: block;
      font-weight: bold;
    }
    &:hover {
      @include MX_Box_Shadow(0px,0px, 3px, 0px, rgba(0,0,0,6/10));
      font-size: 17px;
      width: 50px;
      height: 50px;
    }
    &:hover p.CL_TXT_Info_Btn_Desplegado {
      display: none;
    }
    &:disabled {
      opacity: 0.6;
      cursor: default;
    }
     }



  .Btn_Circular_1
  {
    color: $Color_6;
    background-color: $Color_12;
    @extend %PH_Btn_Circular_Estilo;

    & p.CL_TXT_Info_Btn, & p.CL_TXT_Info_Btn_Desplegado {
      background-color: $Color_12;
    }

    &:hover {
      color: $Color_6;
    }



  }
  .Btn_Circular_2
  {
    color: $Color_6;
    background-color: $Color_21;
    @extend %PH_Btn_Circular_Estilo;

    & p.CL_TXT_Info_Btn, & p.CL_TXT_Info_Btn_Desplegado {
      background-color: $Color_21;
      background-color: $Color_21;
    }

    &:hover {
      color: $Color_6;
    }


  }
  .Btn_Circular_3
  {
    color: $Color_6;
    background-color: $Color_10;
    @extend %PH_Btn_Circular_Estilo;

    & p.CL_TXT_Info_Btn, & p.CL_TXT_Info_Btn_Desplegado {
      background-color: $Color_10;
    }

    &:hover {
      color: $Color_6;
    }


  }
  .Btn_Circular_4
  {
    color: $Color_6;
    background-color: $Color_24;
    @extend %PH_Btn_Circular_Estilo;

    & p.CL_TXT_Info_Btn, & p.CL_TXT_Info_Btn_Desplegado {
      background-color: $Color_24;
    }

    &:hover {
      color: $Color_6;
    }


  }
}


@mixin MX_Barra_Busqueda {


  .CL_Buscar {
    width: 100%;
    padding: 7px 60px 7px 14px;
    background-color: $Color_6;
    border: solid 1px $Color_9;
    color:$Color_3;
    @include Text_nav1(16px,$Color_3,100,left);
    cursor: text;
    /*Incluido*/
    @include MX_Box-Sizing(border-box);
    @include MX_Box_Shadow(0px, 0px, 1px, 0px,rgba(0,0,0,3/10));
    @include MX_Bor_Radius(3px,0);
    @include MX_Animacion_Normal(2/10, ease, 2/10);

    &:focus
    {
      border:1px solid $Color_2;
      @include MX_Box_Shadow(0px,0px, 5px, 0px, rgba($Color_3,.6));
    }


  }

  .CL_Icono_Buscar {
    position: relative;
    top: 2px;
    right: 40px;
    cursor: pointer;
    color: rgba($Color_3,.6);
    font-size: 20px;
  }

  .CL_Contenedor_Buscador {
    position: relative;
    width: 100%;
    padding: 3px;
    /*Flex estilos*/
    display: flex;
    align-items: center;
    /*Incluido*/
    @include MX_Box-Sizing(border-box);
  }


}


@mixin MX_Paginacion
{
  %PH_Paginacion
  {

    & li
    {
      border:solid 1px $Color_2;
      text-decoration: none;
      background-color: #fff;
      border: 1px solid #ddd;
      margin-left: -1px;
      list-style:none;
      cursor:pointer;
      line-height: 1.42857143;
      padding: 6px 12px;

    }
    & li a
    {

      color: #428bca;

    }

    & li.Paginacion_Disabled
    {
      cursor: not-allowed;
    }
  }
  .CON_Paginacion
  {
    min-height: 70px;
    max-height: 100px;
  }
  .CL_Paginacion_1
  {
    @extend %PH_Paginacion;
  }
}
