//SCSS  PARA LOS ICONOS USADOS EN LA PAGINA
//Before

@mixin MX_Flecha($NumFlecha,$PseudoElemento) {
  &:#{$PseudoElemento} {
    content: "";
    display: block;
    left: 6%;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
  }
  @if $NumFlecha == 1 {
    &:#{$PseudoElemento} {
      border-left: 5px solid transparent;
      /* izquierda flecha */
      border-right: 5px solid transparent;
      /* derecha flecha */
      border-top: 5px solid rgb(255, 255, 255);
      /* base flecha y color*/
    }
  }
  @else if $NumFlecha == 2 {
    &:#{$PseudoElemento} {
      border-left: 5px solid transparent;
      /* izquierda flecha */
      border-right: 5px solid transparent;
      /* derecha flecha */
      border-bottom: 5px solid rgb(255, 255, 255);
      /* base flecha y color*/
    }
  }
  @else if $NumFlecha == 3 {
    &:#{$PseudoElemento} {
      border-bottom: 5px solid transparent;
      /* izquierda flecha */
      border-top: 5px solid transparent;
      /* derecha flecha */
      border-right: 15px solid rgb(255, 255, 255);
      /* base flecha y color*/
    }
  }
  @else if $NumFlecha == 4 {
    &:#{$PseudoElemento} {
      border-bottom: 5px solid transparent;
      /* izquierda flecha */
      border-top: 5px solid transparent;
      /* derecha flecha */
      border-left: 12px solid rgb(255, 255, 255);
      /* base flecha y color*/
    }
  }
  @else {
    border-bottom: 5px solid transparent;
    /* izquierda flecha */
    border-top: 5px solid transparent;
    /* derecha flecha */
    border-left: 12px solid rgb(255, 255, 255);
    /* base flecha y color*/
  }
}
