
//Colores

$Color_2:rgba(203, 203, 203, 0.4);
$Color_3:#000;
$Color_4:#2D882D;
$Color_5:#5d5db6;
$Color_6:#fff;
$Color_7:#c9c9c9;
$Color_8:#5c5c5c;
$Color_9:#bfc2c0;
$Color_10:#ff4136;
$Color_11:#263137;
$Color_12:#455A64;
$Color_13:#8BC34A;
$Color_14:#7CB342;
$Color_15:#FAFAFA;
$Color_16:#F2F2F2;
$Color_17:rgba(#ececec,1/10);
$Color_18:#f0ad4e;
$Color_19:#DB5031;
$Color_20:#CBD5DD;
$Color_21:rgb(3,155,229);
$Color_22:#591812;
$Color_23:#A6523F;
$Color_24:#E52C5A;
$Color_25:rgba(203, 203, 203, 0.14);
$Color_26:#2a2725;
$Color_27:#EDEDED;
$Color_28:#444;
$Color_29:#5c90d2;
