<ion-view view-title="Productos">
<ion-content>


<div class="card">
	<ion-list ng-repeat="P in Dato.OB_Productos">

	<ion-checkbox>

	<a class="item item-thumbnail-left" href="#" >
		<img src="{{P.Ruta_Imagen_Producto}}">

		<h2>
			Codigo De Producto:
		</h2>

		<p>
			{{P.PK_ID_Producto}}
		</p>


		<h2>
			Nombre De Producto:
		</h2>

		<p>
			{{P.Nombre_Producto}}
		</p>

		<h2>
			Costo De Producto:
		</h2>

		<p>
			{{P.Valor_Unitario}}

		</p>
	</a>
</ion-checkbox>


</ion-list>

</div>
</ion-content>
</ion-view>

