





ion-view( view-title="Productos")
	
	
	//- img.BtnEnviar(ng-if="Estado_Logeo==true" ng-click="FN_Enviar_Cotizacion()" src="../../img/send.png" alt="")
	.Btn_Circular_2.bottom-30.fixed.Grid_Contenedor.abcenter(ng-init="BL_Ver_Opciones == false",ng-click="BL_Ver_Opciones = true")
		p.icon-lapiz.margin_top-10
	.Grid_Contenedor.ng_show(ng-show="BL_Ver_Opciones")
		.Btn_Circular_1.Btn_Circular_Hijo.bottom-90.right-25.fixed.Grid_Contenedor.abcenter
			p.icon-enviar.margin_top-10
		.Btn_Circular_3.Btn_Circular_Hijo.bottom-130.right-25.fixed.Grid_Contenedor.abcenter(ng-click="FN_Orden()")
			p.icon-shopping-cart.margin_top-10
			span.CL_Btn_Contador {{dato.NUM_Cantidad_Productos_En_Orden}}

	
	ion-content(ng-init="FN_Listar_Productos( 1, null )")
		.Grid_Contenedor(ng-class="{Height_Modo_Modal_Desplegado:BL_Ver_Confirmacion == true,Height_Modo_Modal_Desplegado:dato.BL_Ver_Orden == true}")
			//SECCION CONFIRMACIONES					
			section#SC_Confirmaciones
				#CONT_Confirmacion(ng-show="BL_Ver_Confirmacion == true")
					#CONT_Invisible(ng-click="BL_Ver_Confirmacion = false")
						.CL_Cerrar_Modal
					#CONT_Datos
						#COT_Confirmacion_Campos
							p.CL_TXT_Titulo_Confirmacion {{TXT_Texto_Confirmacion}}
							.CL_Btns_Confirmacion
								.Btn_Estilo_1.icon-agregar3(ng-click="FN_Confirmacion_Alerta(NUM_Tipo_Funcion,NUM_Eliminar_Posicion,true,' ')") Confirmar
								.Btn_Estilo_5.icon-cancelar3(ng-click="BL_Ver_Confirmacion =! BL_Ver_Confirmacion") Cancelar
			section.SC_Mensajes_Validaciones
				.Grid_Contenedor.CL_CONT_Alertas.cross_end(ng-show="(AOBJ_Mensaje_Alerta).length > 0")
					.Grid_Item.ng_show(ng-show="Alertas.Visibilidad_Alerta == true",ng-repeat="Alertas in AOBJ_Mensaje_Alerta" )
						.CL_Mensaje_Alerta.main_start.Grid_Contenedor.relative.now_wrap(ng-class="{Negro: Alertas.Tipo_Mensaje_Alerta == 'Negro',Blanco: Alertas.Tipo_Mensaje_Alerta == 'Blanco',Finalizado: Alertas.Tipo_Mensaje_Alerta == 'Finalizado',Alerta: Alertas.Tipo_Mensaje_Alerta == 'Alerta',Info: Alertas.Tipo_Mensaje_Alerta == 'Info',Error: Alertas.Tipo_Mensaje_Alerta == 'Error'}")
							//- ng-show="EstadoMensaje == true"
							.CL_Titulo_Alerta.Base-20.abcenter.cross_start.Grid_Item
								p 
									img(ng-src="{{dato.AOBJ_Datos_Usuario[0].Imagen_Usuario}}")
							.CL_Mensaje_Alert.Grid_Contenedor.abcenter.cross_start.Base-90.Grid_Item
								.CL_TXT_Mensaje_Alerta.Grid_Contenedor
									//- .Grid_Item.Grid_Contenedor.abcenter
									//- 	p.Icono_Alerta
									.Grid_Contenedor.Base-100
										span 
											p {{Alertas.Mensaje_Alerta}}
							a.CL_Eliminar_6_6.CL_Cerrar(ng-click="FN_Cerrar_Mensaje_En_Especifico($index)")
				
				//- .card
				//- 	ion-list(ng-repeat="P in dato.AOBJ_Productos")
				//- 		ion-checkbox(ng-click="FN_Agregar_Productos_Cotizacion($index)")
				//- 			a.item.item-thumbnail-left(href="#")
				//- 				img(src="{{P.Ruta_Imagen_Producto}}")
				//- 				h2 Codigo De Producto:
				//- 				p {{P.PK_ID_Producto}}
				//- 				h2 Nombre De Producto:
				//- 				p {{P.Nombre_Producto}}
				//- 				h2 Costo De Producto:
				//- 				p {{P.Valor_Unitario}}
				.Grid-Total.abcenter.Grid_Contenedor.CL_Alerta_5
					p.icon-retweet.CL_TXT_Enlace_4(title="Actualizar la lista de productos actuales",ng-click="FN_Listar_Productos( 1, null )")
				.Grid_Contenedor.CL_Cont_Productos
					#CONT_P_Productos.ng_repeat_anim1.Grid_Contenedor.Base-90.web-80.abcenter.relative(ng-hide="LisProduct.Estado_Producto == 'Inhabilitado'",ng-class="{'CL_Producto_No_Agregado':LisProduct.BL_Estado_Producto, 'CL_Producto_Agregado': ! LisProduct.BL_Estado_Producto}" ng-repeat="LisProduct in dato.AOBJ_Productos_Principal |  filter:buscar:LisProduct.Nombre_Producto ")
						.Invisible.icon-cube.absolute.top-5.right-50.CL_TXT_Pri_Btn.Enlace.CL_TXT_Icon_Gris.CL_TXT_Texto_5.Base-auto(ng-click="LisProduct.BL_Estado_Ver_Producto = true;LisProduct.BL_Estado_Valoracion = false;LisProduct.BL_Estado_Descripcion = false")
							span.CL_TXT_Info_Btn Producto
						.Invisible.icon-question.absolute.top-5.right-90.CL_TXT_Pri_Btn.Enlace.CL_TXT_Icon_Gris.CL_TXT_Texto_5.Base-auto(ng-click="LisProduct.BL_Estado_Ver_Producto = false;LisProduct.BL_Estado_Valoracion = false;LisProduct.BL_Estado_Descripcion = true")
							span.CL_TXT_Info_Btn Descripci&oacute;n
						.Grid_Item.Base-100.web-50
							.CL_P_Imagen.Grid_Contenedor.Base-100.abcenter
								img.CL_Imagen_3(ng-src="{{LisProduct.Ruta_Imagen_Producto}}" )
						//Opciones de un producto							
						.Grid_Item.Base-100.web-50.ng_show(ng-show="LisProduct.BL_Estado_Ver_Producto")
							.CONT_Informacion.Base-100
							.Base-100.No_Padding.Padding-tablet
								.Grid_Contenedor.Padding-10.border_bottom_1
									.Grid_Contenedor.Base-auto
										p.CL_TXT_Texto_5.CL_TXT_Texto_Bold.CL_TXT_Gris {{LisProduct.Nombre_Producto}}
									.Grid_Contenedor.Base-auto
										p.CL_TXT_Texto_4.CL_TXT_Rojo_2.CL_TXT_Texto_Bold {{LisProduct.Valor_Unitario | currency}}

								
						
							.Grid_Item.Base-100.Grid_Contenedor.No_Padding.now_wrap.border_bottom_2.margin_top-40.margin_bottom-40
								.Grid_Contenedor.Base-auto.abcenter.Padding-5
									input.Input_Estilo_1.No_Margin(type="number" min="{{LisProduct.Cant_Unid_Min}}" max="{{LisProduct.Cant_Unid_Max}}"  value="0"  ng-model="LisProduct.NUM_Cantidad" ng-change="FN_Actualizar_Datos(1,LisProduct.PK_ID_Producto)",required)
								.Grid_Contenedor.Padding-5.ng_show.abcenter
									.Grid_Contenedor.abcenter
										p.CL_TXT_Texto_3.CL_TXT_Gris.CL_TXT_Texto_Bold.Base-auto Subtotal:
										p.CL_TXT_Texto_2.CL_TXT_Rojo.Base-auto.ng_show.CL_TXT_Texto_Bold(ng-show=" LisProduct.NUM_Total_Producto > 0") {{LisProduct.NUM_Total_Producto + '$'}}

							.Grid_Contenedor.abcenter
									.Grid_Contenedor.abcenter.Base-auto(id="Agregar")
										a.icon-orden(ng-class="{'Btn_Estilo_2':LisProduct.BL_Estado_Producto, 'Btn_Estilo_7': ! LisProduct.BL_Estado_Producto}" ng-click="LisProduct.BL_Estado_Producto =! LisProduct.BL_Estado_Producto ; FN_Agregar_Productos(LisProduct.PK_ID_Producto,$index)") {{LisProduct.TXT_Texto_Btn}}
									.Grid_Contenedor.Base-40.abcenter
										.Grid_Contenedor.now_wrap.justify
											.Grid_Contenedor.Base-100
												.CL_TXT_Texto_2.CL_TXT_Gris {{LisProduct.Valoracion_Producto}}
											.Grid_Contenedor.icon-thumbs-o-up.Base-auto.abcenter.Enlace(ng-if="dato.AOBJ_Datos_Usuario[0].FK_ID_Rol != 5",ng-click="FN_Valorar_Producto(LisProduct.PK_ID_Producto,dato.AOBJ_Datos_Usuario[0].PK_ID_Usuario)")
										div.Progress_Bar.Grid_Contenedor
											span(style="width:{{LisProduct.Valoracion_Producto}}%")
										.icon-chat-1.Btn_Estilo_6(title="Ver las opiniones de otros usuarios" ng-click="FN_Ver_Comentarios_Producto(LisProduct.PK_ID_Producto);dato.FN_Desplegar_Comentarios_Productos()") Comentarios
						//Opciones de un producto							
						.Grid_Item.Base-100.tablet-50.ng_show(ng-show="LisProduct.BL_Estado_Descripcion")
							.Grid_Contenedor.column
								.CL_Descripcion_Producto.Grid_Item
									.CL_TXT_Texto_5.CL_TXT_Texto_Bold.Padding-5.CL_TXT_Gris.border_bottom_1 Descripci&oacute;n
									.Grid_Contenedor.Padding-5.CL_Con_Descripcion_Producto
										p.CL_TXT_Texto_3.CL_TXT_Gris {{LisProduct.Descripcion_Producto}}
					.Grid-Total.abcenter.Grid_Contenedor.CL_Alerta_5
						p.icon-retweet.CL_TXT_Enlace_4(title="Actualizar la lista de productos actuales",ng-click="FN_Listar_Productos( 1, null )")
			///////////////////////////////////////////////////////////////////////
			section#SC_Modulo_Pedido
				#CONT_Orden_Pedido(ng-show="dato.BL_Ver_Orden == true" ng-init="BL_Estado_Procutos = true")		
					#CONT_Invisible(ng-click="FN_Orden()"  ng-show="dato.BL_Ver_Orden == true")
						.CL_Cerrar_Modal
					//SESION PEDIDO (importado desde Modulo_Pedido.php)
					#CONT_Orden_Principal.Grid_Contenedor.column.now_wrap(ng-show="dato.BL_Ver_Orden == true")
						#CONT_Header_Info
							.CL_TXT_Titulo_Orden
								p.CL_TXT_Texto_4.CL_TXT_Gris(ng-show="BL_Estado_Procutos == true") Mi orden actual
								p.CL_TXT_Texto_4.CL_TXT_Gris(ng-show="BL_Estado_Procutos == false") Ordenes guardadas
							p.CL_Eliminar_1_1(title="Cerrar Menú de orden" ng-click="FN_Orden()" )
						//- .CL_Alerta_5.Grid_Contenedor.abcenter.Padding-10
						//- 	.Grid_Contenedor.Base-100
						//- 		.CL_TXT_Texto_4.CL_TXT_Gris(ng-show="BL_Ver_Detalle_Lista == true") Productos agregados en la lista
						//- 		.CL_Contenedor_Buscador(ng-show="BL_Ver_Detalle_Lista == false && BL_Estado_Procutos == false",ng-init="Buscar_Lista")
						//- 			input.CL_Buscar#Buscar(maxlength="45",type="search", name="Buscar" placeholder="Buscar lista" ng-model="Buscar_Lista")
						//- 			label.icon-buscar.CL_Icono_Buscar(for="Buscar")
						//- 		.CL_Contenedor_Buscador(ng-show="BL_Estado_Procutos == true")
						//- 			input.CL_Buscar#BuscarOrden(type="search", name="buscar_Orden" placeholder="Buscar producto" ng-model="buscar_producto")
						//- 			label.icon-buscar.CL_Icono_Buscar(for="BuscarOrden")
						.Flex_Grow_1.CL_Opciones_Orden_Pedido.Grid_Contenedor.abcenter
							.Grid_Contenedor.abcenter
								.Grid_Contenedor.Base-20.abcenter.CL_Btn_Opcion_Orden_Pedido.Grid_Item(title="Enviar orden" ng-show="dato.NUM_Cantidad_Productos_En_Orden > 0 && BL_Estado_Procutos == true")
									a.Enlace.icon-enviar.CL_TXT_Pri_Btn.relative.CL_TXT_Pri_Btn(ng-click="FN_Envio_Orden(1)")
										span.CL_TXT_Info_Btn.top-40_40.left-10_10 Enviar
								.Grid_Contenedor.Base-20.abcenter.CL_Btn_Opcion_Orden_Pedido.Grid_Item(title="Ver la orden actual" )
									a.Enlace.icon-shopping-cart.ng_show.CL_TXT_Pri_Btn.relative( ng-click="BL_Estado_Procutos = true;BL_Ver_Detalle_Lista = false;BL_Estado_Lista_Actualizar = false" )
										span.CL_TXT_Info_Btn.top-40_40.left-10_10 Orden 
										span.CL_Cantidad.top-10_10.absolute.left-20  {{dato.NUM_Cantidad_Productos_En_Orden}}
								.Grid_Contenedor.Base-20.abcenter.CL_Btn_Opcion_Orden_Pedido.Grid_Item(ng-show="Estado_Logeo == true",title="Ver las listas que posees creadas, las listas sirven para acelerar el proceso de envio de una orden")
									a.Enlace.icon-grid.ng_show.CL_TXT_Pri_Btn.relative.CL_TXT_Pri_Btn(ng-click="BL_Ver_Detalle_Lista = false;BL_Estado_Lista_Actualizar = false;BL_Estado_Procutos = false;FN_Listas_Usuario()")
										span.CL_TXT_Info_Btn.top-40_40.left-10_10  Listas
										span.CL_Cantidad.top-10_10.absolute.left-20  {{NUM_Cantidad_Listas}}
								.Grid_Contenedor.Base-20.abcenter.CL_Btn_Opcion_Activo.Grid_Item(ng-show="dato.NUM_Cantidad_Productos_En_Orden > 0 && BL_Estado_Procutos == true" title="Eliminar todos los productos")
									a.Enlace.icon-eliminar.CL_TXT_Pri_Btn.relative.CL_TXT_Pri_Btn(ng-click="FN_Confirmacion_Alerta(1,2,false,'¿Eliminar productos actuales?')")
										span.CL_TXT_Info_Btn.top-40_40.left-10_10 Vaciar
								.Grid_Contenedor.Base-20.abcenter.Grid_Item(ng-class="{CL_Btn_Opcion_Activo: BL_Estado_Lista_Actualizar == true, CL_Btn_Opcion_Orden_Pedido: BL_Estado_Lista_Actualizar == false }",ng-show="BL_Estado_Lista_Actualizar == true && (AOBJ_Listas_Detalle).length != 0 && BL_Ver_Detalle_Lista == true",title="Actualizar los datos de la lista")
									a.Enlace.icon-retweet.ng_show.CL_TXT_Pri_Btn.relative.CL_TXT_Pri_Btn(ng-click="FN_Actualizar_Dtll_Lista_Usuario()")
										span.CL_TXT_Info_Btn.top-40_40.left-10_10  Actualizar
										span.CL_Cantidad.top-10_10.absolute.left-20.icon-exclamation-1(ng-if="BL_Estado_Lista_Actualizar == true")
								.Grid_Contenedor.Base-20.abcenter.CL_Btn_Opcion_Orden_Pedido.Grid_Item(ng-show="(AOBJ_Listas_Detalle).length != 0 && BL_Ver_Detalle_Lista == true",title="Enviar como orden esta lista")
									a.Enlace.icon-paper-plane-o.ng_show.CL_TXT_Pri_Btn.relative.CL_TXT_Pri_Btn(ng-click="FN_Envio_Orden(4)")
										span.CL_TXT_Info_Btn.top-40_40.left-10_10  Enviar
								.Grid_Contenedor.Base-20.abcenter.CL_Btn_Opcion_Activo.Grid_Item(ng-show="(AOBJ_Listas_Detalle).length != 0 && BL_Ver_Detalle_Lista == true" title="Eliminar todos los productos")
									a.Enlace.icon-eliminar.CL_TXT_Pri_Btn.relative.CL_TXT_Pri_Btn(ng-click="FN_Confirmacion_Alerta(9,PK_Lista_Seleccionada,false,'¿Esta seguro de eliminar los productos actuales?')")
										span.CL_TXT_Info_Btn.top-40_40.left-10_10 Vaciar lista
								.Grid_Contenedor.Base-20.abcenter.CL_Btn_Opcion_Activo.Grid_Item(ng-show="NUM_Cantidad_Listas > 0 && BL_Ver_Detalle_Lista == false && BL_Estado_Procutos == false",title="Eliminar todas las listas creadas")
									a.Enlace.icon-eliminar.CL_TXT_Pri_Btn.relative.CL_TXT_Pri_Btn(ng-click="FN_Confirmacion_Alerta(3,2,false,'¿Esta seguro de eliminar todas las listas creadas?')")
										span.CL_TXT_Info_Btn.top-40_40.left-10_10 Borrar listas
						#CONT_Orden.Grid_Contenedor
							//SESION PARA CREAR LISTA DE PEDIDOS
							section#SC_Listas_Pedido.ng_show(ng-show="BL_Estado_Procutos == false")
								#CON_Listas_Pedios
									
									#CONT_Creacion_Lista.Grid_Contenedor.abcenter(ng-show="BL_Ver_Detalle_Lista == false")
										.Grid_Total
											.CL_TXT_Texto_1.CL_TXT_Gris Añadir una nueva lista
										.Base-70.relative

											input#Nombre_Lista.Input_Estilo_2(placeholder="Nombre de la lista",ng-model="NMG_TXT_Nombre_Lista",maxlength="45",minlength="5",type="text" value="Nombre")
											p.CL_Eliminar_1_1(ng-show="NMG_TXT_Nombre_Lista != ''",ng-click="NMG_TXT_Nombre_Lista = ''")
										.Base-15.Padding-5
											p.Btn_Estilo_1.icon-plus-square.ng_show(ng-click="Fn_Crear_Lista()") Crear
									section#CONT_Listas_Creadas(ng-show="BL_Ver_Detalle_Lista == false")
										.Grid_Contenedor.abcenter.CON_Paginacion.Invisible.Visible-web#CONT_Herramientas_Orden
											
											.Grid_Contenedor.Base-20
												input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
											
											dir-pagination-controls.Base-55.cross_end.Grid_Contenedor(pagination-id="Lista_Usuario",boundary-links="true")
												p.CL_TXT_Texto_3.CL_TXT_Gris {{currentPage}}
												ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
													li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
														a(href="" ng-click="setCurrent(1)") &laquo;
													li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
														a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
													li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
													li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
														a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
													li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
														a(href="" ng-click="setCurrent(pagination.last)") &raquo;
										#CONT_Lista.Grid_Contenedor.Base-80.relative(dir-paginate="Lista in AOBJ_Listas_Creadas | filter:Buscar_Lista:Lista.Nombre_Lista  | itemsPerPage: pageSize" current-page="currentPage" pagination-id="Lista_Usuario")
											p.CL_Eliminar_1_1(ng-click="FN_Confirmacion_Alerta(2,Lista.PK_ID_Lista_Usuario,false,'¿Esta seguro de eliminar la orden actual?');")
											.Grid_Contenedor.Base-70
												.Grid_Contenedor.Base-20.abcenter
													p.CL_Icono_3 {{ Lista.Nombre_Lista | limitTo : 1 : 0}}
												.Grid_Contenedor.Base-80.abcenter
													input#Nombre_Lista.Input_Estilo_1(ng-change="FN_Actualizar_Nombre_Lista(Lista.PK_ID_Lista_Usuario)",ng-model="Lista.Nombre_Lista" type="text" value="Nombre")
											.Grid_Contenedor.Base-30.abcenter			
												.icon-align-center.Grid_Item.Base-30.CL_TXT_Pri_Btn.relative.Enlace(ng-click="FN_Listas_Detalle_Usuario( Lista.PK_ID_Lista_Usuario, Lista.Nombre_Lista);BL_Ver_Detalle_Lista = true") 
													span.CL_TXT_Info_Btn Ver productos
											.Grid_Contenedor.Base-100
												.CL_TXT_Texto_1.CL_TXT_Gris.icon-clock Creada el: {{Lista.Fecha_Creacion}}
												
										
										.CL_Alerta_3.ng_repeat_anim1.Grid_Contenedor(ng-show="(AOBJ_Listas_Creadas |filter:Buscar_Lista:Lista.Nombre_Lista).length == 0")
											.CL_TXT_Texto_3.CL_TXT_Gris.Base-100.abcenter.Grid_Contenedor
												p No se han encontrado listas registradas
										.CL_Alerta_5.icon-information-black.Padding-10 Ayuda
											p.CL_TXT_Texto_2 Crea una lista para guardar los productos seleccionados hasta el momento. podras crear y guardar varias listas de ordenes, y luego retomar la orden y realizar su envio.
									section#SC_Detalle_Lista.Grid_Contenedor.Base-100(ng-show="BL_Ver_Detalle_Lista == true")		
										#CONT_Lista.Grid_Contenedor
											p.Enlace.icon-flecha2.relative.left-10(ng-click="BL_Ver_Detalle_Lista = false;BL_Estado_Lista_Actualizar = false")
											.CL_Alerta_5.Grid_Contenedor.Padding-10 {{Nombre_Lista}}
											.Grid_Contenedor.abcenter
												#CONT_Producto_Lista.Grid_Contenedor.Base-80.relative(ng-repeat="Producto in AOBJ_Listas_Detalle")
													
													//- p {{Producto.PK_ID_Producto}}
													p.CL_Eliminar_1_1(ng-click="FN_Eliminar_Producto_Dtll_Lista(Producto.PK_ID_DLL_Lista_Usuario)")
													.Grid_Item.Base-15
														img.CL_Imagen_1(ng-src="{{Producto.Ruta_Imagen_Producto}}")
													.Grid_Contenedor.Base-40
														p.Grid_Item.Base-100.CL_TXT_Texto_3.CL_TXT_Gris {{Producto.Nombre_Producto}}
														p.Grid_Item.Base-100.CL_TXT_Texto_1.CL_TXT_Gris Costo: {{Producto.Valor_Unitario}}
														.CL_Alerta_1
															p.CL_TXT_Texto_1.CL_TXT_Gris Sub total: {{Producto.Sub_Total}}
													.Grid_Contenedor.Base-30.abcenter
														
														p.CL_TXT_Texto_2 Cantiad:
														input.Padding-10.Grid_Item.Base-50(type="number"  min="{{Producto.Cant_Unid_Min}}"  max="{{Producto.Cant_Unid_Max}}"  value="{{Producto.Cantidad_Productos}}" ng-model="Producto.Cantidad_Productos" ng-click="FN_Actualziar_Datos_Lista(Producto.PK_ID_DLL_Lista_Usuario)")
												.CL_Alerta_2.ng_repeat_anim1.Grid_Contenedor(ng-show="(AOBJ_Listas_Detalle).length == 0")
													.CL_TXT_Texto_3.CL_TXT_Gris.Base-100.abcenter.Grid_Contenedor
														p La lista seleccionada no posee productos asociados
												.CL_Alerta_5.icon-information-black.Padding-10 Ayuda
													p.CL_TXT_Texto_2 Asocia uno o mas prouctos a una lista, podras guardar los productos y luego retomar la orden y realizar su envio.
							#CONT_Modal.ng_show(ng-show="BL_Estado_Procutos == true")
								#CONT_Productos_Orden
									.Btn_Circular_1.bottom-90(ng-show="(dato.AOBJ_Productos).length > 0 && Estado_Logeo == true",ng-init="BL_Ver_Dtll_Lista = false" ng-click="BL_Ver_Dtll_Lista = true")
										p.icon-disc-floppy-font
										p.CL_TXT_Info_Btn Guardar orden
									.Grid_Contenedor.abcenter.CON_Paginacion.Invisible.Visible-web#CONT_Herramientas_Orden
										
										.Grid_Contenedor.Base-20
											input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
										dir-pagination-controls.Base-60.cross_end.Grid_Contenedor(pagination-id="Productos_Lista",boundary-links="true")
											p.CL_TXT_Texto_3.CL_TXT_Gris {{currentPage}}
											ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
												li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
													a(href="" ng-click="setCurrent(1)") &laquo;
												li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
													a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
												li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
												li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
													a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
												li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
													a(href="" ng-click="setCurrent(pagination.last)") &raquo;
									.CL_Producto_Orden.ng_repeat_anim1(dir-paginate="Productos_Agregados in dato.AOBJ_Productos |  orderBy: 'PK_ID_Producto' | filter:buscar_producto:Productos_Agregados.Nombre_Producto  | itemsPerPage: pageSize" current-page="currentPage" pagination-id="Productos_Lista" )
										.CL_Imagen_Producto
											img(ng-src="{{Productos_Agregados.Ruta_Imagen_Producto}}")
										.CL_Info_Producto
											p.CL_TXT_Nombre_Producto_Orden.CL_TXT_Texto_4.CL_TXT_Gris {{Productos_Agregados.Nombre_Producto}}
											.CL_Cantidad_Productos_Orden.Grid_Contenedor.main_start
												.Grid_Item.Base-20
													p.CL_TXT_Texto_3.CL_TXT_Gris Unidades:
												.Grid_Item.Base-40
													input(type="number"  min="{{Productos_Agregados.Cant_Unid_Min}}"  max="{{Productos_Agregados.Cant_Unid_Max}}"  value="{{Productos_Agregados.NUM_Cantidad}}" ng-model="Productos_Agregados.NUM_Cantidad" ng-change="FN_Actualizar_Datos(2,Productos_Agregados.PK_ID_Producto)")
													.CL_Limite_Cantidad
														p max: {{Productos_Agregados.Cant_Unid_Max}}
														p min: {{Productos_Agregados.Cant_Unid_Min}}
											.CL_Total.Grid_Contenedor.column
												.Grid_Contenedor.main_start
													.Grid_Item.No_Padding.Base-15
														p.CL_TXT_Texto_3.CL_TXT_Gris Precio:
													.Grid_Contenedor.Base-35.main_start.Grid_Item.No_Padding
														.CL_Precio_Orden {{ '$' +Productos_Agregados.Valor_Unitario }}
												.Grid_Contenedor.main_start.CL_Total_Orden(ng-if="Productos_Agregados.NUM_Costo > 0 && Productos_Agregados.NUM_Costo != null")
													.Grid_Item.Base-40
														p.CL_TXT_Texto_5.CL_TXT_Gris Sub total:
													.Grid_Item.Base-30
														.CL_Preciop.CL_TXT_Texto_5.CL_TXT_Gris {{'$' + Productos_Agregados.NUM_Costo }}
													
													
										p.CL_Eliminar_1_1(ng-click="FN_Eliminar_Producto(Productos_Agregados.PK_ID_Producto)")
									.CL_Alerta_5.Grid_Contenedor.abcenter(ng-show="(dato.AOBJ_Productos |filter:buscar_producto:Productos_Agregados.Nombre_Producto).length == 0")
										p.CL_TXT_Texto_3.CL_TXT_Gris.left.border_bottom_1.Grid_Contenedor.abcenter.CL_TXT_Texto_5.CL_TXT_Gris No se han encontrado productos
					#CONT_Dtll_Lista.Grid_Contenedor.main_start.ng_show( ng-show="BL_Ver_Dtll_Lista == true")
						#CONT_Invisible(ng-click="BL_Ver_Dtll_Lista = false"  ng-show="BL_Ver_Dtll_Lista == true")
							.CL_Cerrar_Modal
						.CONT_Dtll_Lista.Base-100.tablet-50.web-40.movil-95.Grid_Contenedor.main_start.Grid_Item.No_Padding.column.now_wrap
							.Grid_Contenedor.border_bottom_1.abcenter
							.Grid_Contenedor.Base-60
								p.CL_TXT_Texto_4.CL_TXT_Gris.left Guardar orden actual
							p.CL_Eliminar_1_1(ng-click="BL_Ver_Dtll_Lista = false")
							
							
							.Grid_Contenedor.abcenter.border_bottom_1
								.Grid_Contenedor.Base-50
									.CL_Contenedor_Buscador
										input.CL_Buscar#Buscar(maxlength="45",type="search", name="Buscar" placeholder="Buscar lista" ng-model="Buscar_Lista_Asociacion")
										label.icon-buscar.CL_Icono_Buscar(for="Buscar")			
								
							.Grid_Contenedor.abcenter.CON_Paginacion.Invisible.Visible-web
								.Grid_Contenedor.Base-20
									input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
								
								dir-pagination-controls.Base-65.cross_end.Grid_Contenedor(pagination-id="Asociacion_Lista_Productos",boundary-links="true")
									p.CL_TXT_Texto_3.CL_TXT_Gris {{currentPage}}
									ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
										li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
											a(href="" ng-click="setCurrent(1)") &laquo;
										li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
											a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
										li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
										li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
											a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
										li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
											a(href="" ng-click="setCurrent(pagination.last)") &raquo;
							.Grid_Contenedor.CL_Listas_Productos.cross_start
								.CONT_Listas_Creadas.ng_repeat_anim1.Grid_Item.Base-100(dir-paginate="Lista in AOBJ_Listas_Creadas | filter:Buscar_Lista_Asociacion:Lista.Nombre_Lista  | itemsPerPage: pageSize" current-page="currentPage" pagination-id="Asociacion_Lista_Productos")
									#CONT_Mensaje.Grid_Contenedor.Base-100
										.Grid_Contenedor.Base-70
											.Grid_Contenedor.Base-20.abcenter
												p.CL_Icono_3 {{ Lista.Nombre_Lista | limitTo : 1 : 0}}
											.Grid_Contenedor.Base-80.abcenter
												.CL_TXT_Texto_2 {{Lista.Nombre_Lista}}
										.Grid_Contenedor.Base-30.abcenter			
											.icon-android-done.Grid_Item.Base-30.CL_TXT_Pri_Btn.relative.Enlace(ng-click="Fn_Asociar_Productos_Lista(Lista.PK_ID_Lista_Usuario)") 
												span.CL_TXT_Info_Btn Seleccionar
										.Grid_Contenedor.Base-100
											.CL_TXT_Texto_1.CL_TXT_Gris.icon-clock Creada el: {{Lista.Fecha_Creacion}}
										
										
								
								.CL_Alerta_3.ng_repeat_anim1.Grid_Contenedor(ng-show="(AOBJ_Listas_Creadas |filter:Buscar_Lista_Asociacion:Lista.Nombre_Lista).length == 0 ")
									.CL_TXT_Texto_3.CL_TXT_Gris.Base-100.abcenter.Grid_Contenedor
										p No se han encontrado listas registradas
							.CL_Opciones_Orden_Pedido.Grid_Contenedor.abcenter
								.Grid_Contenedor.abcenter
									.Grid_Contenedor.Base-20.abcenter.CL_Btn_Opcion_Orden_Pedido.Grid_Item(ng-show="Estado_Logeo == true",title="Ver las listas que posees creadas, las listas sirven para acelerar el proceso de envio de una orden")
										a.Enlace.icon-grid.ng_show.CL_TXT_Pri_Btn.relative.CL_TXT_Pri_Btn(ng-click="BL_Ver_Dtll_Lista = false;BL_Ver_Detalle_Lista = false;BL_Estado_Lista_Actualizar = false;BL_Estado_Procutos = false;FN_Listas_Usuario()")
											span.CL_TXT_Info_Btn.top-40_40.left-10_10  Listas
											span.CL_Cantidad.top-10_10.absolute.left-20  {{NUM_Cantidad_Listas}}
									.Grid_Contenedor.Base-20.abcenter.CL_Btn_Opcion_Activo.Grid_Item(title="Enviar orden")
										a.Enlace.icon-cancelar3.CL_TXT_Pri_Btn.relative.CL_TXT_Pri_Btn(ng-click="BL_Ver_Dtll_Lista = false")
											span.CL_TXT_Info_Btn.top-40_40.left-10_10 Cancelar
					//SESION OPCIONES ORDEN
					//ENVIO ORDEN					
					section#SC_Enviar_Orden(ng-init="dato.BL_Datos_Envio_Producto = false")
						#CONT_EnviarOrden(ng-show="BL_Ver_Envio_Orden == true")
							#CONT_Invisible(ng-click="BL_Ver_Envio_Orden =! BL_Ver_Envio_Orden")
								.CL_Cerrar_Modal
							#CONT_Enviar_Orden_List.ng_show(ng-show="dato.BL_Datos_Envio_Producto == true")
								p.CL_TXT_Texto_4.CL_TXT_Gris Orden actual
								p.CL_Eliminar_1_1(ng-click="FN_Envio_Orden(3)")
								form(name="Envio_Orden" ng-submit="FN_Envio_Orden(2,DT)")
									.Tabla_Estilo_1
										table
											thead
												tr
													th.Imagen 
													th Producto
													th Precio
													th Cantidad
													th Subtotal
													th
											.Grid_Contenedor.abcenter.CON_Paginacion.Invisible.Visible-web
												.Grid_Contenedor.Base-10
													p.CL_TXT_Texto_2 Pag&iacute;na: {{currentPage}}
												.Grid_Contenedor.Base-20
													input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
												dir-pagination-controls.Base-45.cross_end.Grid_Contenedor(boundary-links="true")
													p.CL_TXT_Texto_3.CL_TXT_Gris {{currentPage}}
													ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
														li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
															a(href="" ng-click="setCurrent(1)") &laquo;
														li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
															a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
														li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
														li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
															a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
														li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
															a(href="" ng-click="setCurrent(pagination.last)") &raquo;
											tbody
												tr(dir-paginate="Productos_Agregados in AOBJ_Envio_Orden | filter:Buscar | itemsPerPage: pageSize" current-page="currentPage" )
													td.CL_Imagen 
														img.CL_Imagen_3(ng-src="{{Productos_Agregados.Ruta_Imagen_Producto}}")
													td {{Productos_Agregados.Nombre_Producto}}
													td {{Productos_Agregados.Valor_Unitario | currency}}
													td(ng-if="Bl_Dtll_Lista == false")
														input.Input_Estilo_1(name="Cantidad_Productos{{$index}}",type="number",min="{{Productos_Agregados.Cant_Unid_Min}}",max="{{Productos_Agregados.Cant_Unid_Max}}",value="{{Productos_Agregados.NUM_Cantidad}}",ng-model="Productos_Agregados.NUM_Cantidad",ng-click="FN_Actualizar_Datos(2,Productos_Agregados.PK_ID_Producto)",required)
														//Mensaje de validacion
														div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.$pristine && Envio_Orden.Cantidad_Productos{{$index}}.$error.required")
															p.icon-negocio Ingrese la cantidad de productos a solicitar
														div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.Cantidad_Productos{{$index}}.$valid && !Envio_Orden.$pristine && !Envio_Orden.Cantidad_Productos{{$index}}.$error.required ")
															p.icon-login La cantidad a solicitar no es suficiente
													td(ng-if="Bl_Dtll_Lista == true") 
														input.Input_Estilo_1(name="Cantidad_Productos{{$index}}",type="text",value="{{parseInt(Productos_Agregados.Cantidad_Productos)}}",ng-model="Productos_Agregados.Cantidad_Productos",ng-click="FN_Actualizar_Datos(2,Productos_Agregados.PK_ID_Producto)",required,disabled)
														//Mensaje de validacion
														div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.$pristine && Envio_Orden.Cantidad_Productos{{$index}}.$error.required")
															p.icon-negocio Ingrese la cantidad de productos a solicitar
														div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.Cantidad_Productos{{$index}}.$valid && !Envio_Orden.$pristine && !Envio_Orden.Cantidad_Productos{{$index}}.$error.required ")
															p.icon-login La cantidad a solicitar no es suficiente
													td(ng-if="Productos_Agregados.NUM_Costo != 'undefined'") {{Productos_Agregados.NUM_Costo | currency}}
													td(ng-if="Productos_Agregados.Sub_Total != 'undefined'") {{Productos_Agregados.Sub_Total | currency}}
													td.CL_Tbl_Icon() 
															.icon-cancelar2.CL_TXT_Pri_Btn.relative(ng-if="Productos_Agregados.Sub_Total == 'undefined'",ng-click="FN_Eliminar_Producto(Productos_Agregados.PK_ID_Producto)")
																span.CL_TXT_Info_Btn Eliminar
												tr
													td
													td
													td
													td
													td.CL_TXT_TotalEnvio Total
													td.CL_TXT_TotalEnvio {{NUM_Precio_Total_Orden_Envio | currency}}
										#CONT_Confimar_Datos.Grid_Contenedor.Base-100.abcenter
											.Grid_Item.Base-100.tablet-30.Grid_Contenedor.column
												p.CL_TXT_Texto_4.CL_TXT_Gris Confirma la siguiente informaci&oacute;n para poder enviar t&uacute; orden
												label.CL_TXT_Texto_2.icon-ubicacion-1(for="Direccion_Datos") Direcci&oacute;n de entrega
												select.Select_1(ng-init="DT.Direccion_Entrega = dato.AOBJ_Datos_Usuario[0].Direccion_Establecimiento ")
													option(ng-click="FN_Desplegar_Campos_Envio_Orden(1);DT.Direccion_Entrega = dato.AOBJ_Datos_Usuario[0].Direccion_Establecimiento",value="{{dato.AOBJ_Datos_Usuario[0].Direccion_Establecimiento}}") {{dato.AOBJ_Datos_Usuario[0].Direccion_Establecimiento}}
													option(value="Otra dirección",ng-click="FN_Desplegar_Campos_Envio_Orden(1);DT.Direccion_Entrega = ''") Nueva dirección
												input.Input_Estilo_1#Direccion_Datos(value="{{Direccion_Entrega}}",name="Direccion_Entrega",required,maxlength="20",minlength="7",ng-show="Otra_Direccion == true",type="text",ng-model="DT.Direccion_Entrega")
												//Mensaje de validacion
												div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.$pristine && Envio_Orden.Direccion_Entrega.$error.required")
													p.icon-negocio Ingrese una dirección de entrega
												div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.Direccion_Entrega.$valid && !Envio_Orden.$pristine && !Envio_Orden.Direccion_Entrega.$error.required ")
													p.icon-login La cantidad de caracteres es muy corta
												label.CL_TXT_Texto_2.icon-celular(for="Telefono_Datos") Telefono del lugar de entrega
												select.Select_1(ng-init="DT.Telefono_Entrega = dato.AOBJ_Datos_Usuario[0].Telefono_Establecimiento")
													option(ng-click="FN_Desplegar_Campos_Envio_Orden(2);DT.Telefono_Entrega = dato.AOBJ_Datos_Usuario[0].Telefono_Establecimiento",value="{{dato.AOBJ_Datos_Usuario[0].Telefono_Establecimiento}}") {{dato.AOBJ_Datos_Usuario[0].Telefono_Establecimiento}}
													option(value="Otro telefono",ng-click="FN_Desplegar_Campos_Envio_Orden(2);DT.Telefono_Entrega = ''") Nuevo telefono
												input.Input_Estilo_1#Telefono_Datos(name="Telefono_Entrega",required,maxlength="10",minlength="7",value="{{Telefono_Entrega}}",ng-show="Otro_Telefono == true",type="tel",ng-model="DT.Telefono_Entrega")
												//Mensaje de validacion
												div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.$pristine && Envio_Orden.Telefono_Entrega.$error.required")
													p.icon-negocio Ingrese un numero telefonico
												div#CONT_Mensaje_Validacion(ng-show="!Envio_Orden.Telefono_Entrega.$valid && !Envio_Orden.$pristine && !Envio_Orden.Telefono_Entrega.$error.required ")
													p.icon-login La cantidad de caracteres es muy corta
											.CL_Botones_Enviar
												button.Btn_Estilo_3.icon-enviar( ng-disabled="!Envio_Orden.$valid ") Enviar
												p.Btn_Estilo_5(ng-click="FN_Envio_Orden(3)") Cancelar envio
				section#SC_Comentarios_Productos
					//ng_show="dato.BL_Comentario == true"
					#CONT_Comentarios_Productos.abcenter.Grid_Contenedor(ng_show="dato.BL_Comentario == true")
						#CONT_Invisible(ng-click="FN_Cerrar_Comentarios_Producto()")
							.CL_Cerrar_Modal
						#CONT_Com_Product.Base-100.tablet-60.web-50.Grid_Contenedor
							#CON_Main_Comentarios.Grid_Contenedor.Padding-5.Base-100.abcenter
								#CONT_Comentario.Base-100.Padding-5.main_start.cross_start
									.CL_Crear_Comentario_Nuevo.Grid_Contenedor.abcenter.Padding-5
										form.Base-100.Grid_Contenedor.abcenter(ng-submit="FN_Registrar_Nuevo_Comentario(N)" name="Ingresar_Comentario_Producto")
											#CON_Cabezera_Comentarios.Grid_Contenedor.Grid_Total.justyfi
												p.CL_TXT_Texto_4.CL_TXT_Gris.Grid_Total.Grid_Contenedor.abcenter.ng_show(ng-show="!Ingresar_Comentario_Producto.$valid && BL_Edicion_Datos_Comentario == false") Comentarios
												p.CL_Eliminar_1_1(ng-show="!Ingresar_Comentario_Producto.$valid && BL_Edicion_Datos_Comentario == false",ng-click="BL_Comentario  = false")
												.Grid_Item.Base-100.ng_show.justify.Grid_Contenedor.ng_show(ng-show="Ingresar_Comentario_Producto.$valid && BL_Edicion_Datos_Comentario == false")
													//--
													.Grid_Item.Base-10.Grid_Contenedor.abcenter
														a.CL_TXT_Texto_5.CL_TXT_Gris.icon-android-close.Enlace(ng-click="N.Comentario = ''")
													.Grid_Item.Base-60.Grid_Contenedor.abcenter
														.CL_TXT_Texto_4.CL_TXT_Gris.Grid_Total.Grid_Contenedor.abcenter Nuevo comentario 
													.Grid_Item.Base-20.Grid_Contenedor.abcenter
														button.icon-android-done.CL_TXT_Texto_5.CL_TXT_Gris.Enlace(ng-disabled="!Ingresar_Comentario_Producto.$valid" type="submit")
												//--
												.Grid_Item.Base-100.ng_show.justify.Grid_Contenedor.ng_show(ng-show="BL_Edicion_Datos_Comentario == true")
													.Grid_Item.Base-10.Grid_Contenedor.abcenter
														a.CL_TXT_Texto_5.CL_TXT_Gris.icon-android-close.Enlace(ng-click="FN_Editar_Comentario(Num_Posicion_Comentario,2)")
													.Grid_Item.Base-60.Grid_Contenedor.abcenter
														.CL_TXT_Texto_4.CL_TXT_Gris.Grid_Total.Grid_Contenedor.abcenter Editar Comentario
													.Grid_Item.Base-10.Grid_Contenedor.abcenter
														a.CL_TXT_Texto_5.CL_TXT_Gris.Enlace.Enlace.icon-android-done(ng-click="FN_Modificar_Comentario(Num_Posicion_Comentario)")
											.Grid_Item.Base-100.Grid_Contenedor.abcenter
												.Grid_Item.CL_Imagen_Usuario_Comentario_Producto
													img.CL_Imagen_1(ng-src="{{dato.AOBJ_Datos_Usuario[0].Imagen_Usuario}}")
												textarea.Textarea_Estilo_1.No_Margin(ng-model="N.Comentario",type="text" placeholder="Agregar un comentario",required)
												input.Input_Estilo_1.Invisible(ng-model="N.PK_ID_Producto")
									#CONT_Comentarios_Listados.Base-100
										.Grid_Contenedor.abcenter.CON_Paginacion.Invisible.Visible-web
											.Grid_Contenedor.Base-10
												p.CL_TXT_Texto_1.CL_TXT_Gris Lista de comentarios
											.Grid_Contenedor.Base-20
												input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
											dir-pagination-controls.Base-45.cross_end.Grid_Contenedor(boundary-links="true")
												p.CL_TXT_Texto_3.CL_TXT_Gris {{currentPage}}
												ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
													li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
														a(href="" ng-click="setCurrent(1)") &laquo;
													li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
														a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
													li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
													li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
														a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
													li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
														a(href="" ng-click="setCurrent(pagination.last)") &raquo;
										.CL_Comentario_Usuario_Producto.Base-90.Padding-tablet.Grid_Contenedor.main_start.now_wrap(dir-paginate="Comentarios_Productos in dato.AOBJ_Comentarios_Producto  | itemsPerPage: pageSize" current-page="currentPage")
											.Grid_Contenedor.Base-20.abcenter
												.Grid_Contenedor.Base-auto.relative.CL_TXT_Pri_Btn
													img.CL_Imagen_Icono_4(ng-src="{{Comentarios_Productos.Imagen_Usuario}}")
													span.CL_TXT_Info_Btn {{Comentarios_Productos.Nombre_Usuario}}

											.CL_Mensaje_Usuario_Comentario_Producto.Grid_Item.Grid_Contenedor.abcenter.Base-80
												.Grid_Contenedor.abcenter.CL_Mensaje_Comentario_Producto.Grid_Total.Padding-10
													.CL_Nombre_Usuario_Comentario_Producto.relative.Base-100.Grid_Contenedor.justify.cross_start
														.Grid_Item.CL_TXT_Texto_3.CL_TXT_Gris.Base-auto.CL_TXT_Texto_Bold{{Comentarios_Productos.Nombre_Usuario}}
														.Grid_Item.relative.Enlace.icon-android-more-vertical.Base-10(ng-click="FN_Ver_Opciones_Comentario($index)",ng-hide="Comentarios_Productos.Nombre_Usuario != dato.AOBJ_Datos_Usuario[0].Nombre_Usuario")
														.Grid_Contenedor.CL_Opciones_Comentario.ng_show(ng-show="Comentarios_Productos.BL_Opciones_Comentario == true")
															#CONT_Invisible(ng-click="FN_Ver_Opciones_Comentario($index)",ng-show="Comentarios_Productos.BL_Opciones_Comentario == true")
																.CL_Cerrar_Modal.CL_Transparente
															.CL_Opcion.Grid_Item.Base-100.CL_TXT_Texto_1.CL_TXT_Gris.Enlace( ng-click="FN_Editar_Comentario($index,1)") Editar
															.CL_Opcion.Grid_Item.Base-100.CL_TXT_Texto_1.CL_TXT_Gris.Enlace(ng-click="FN_Editar_Comentario(Num_Posicion_Comentario,2);FN_Eliminar_Comentario(Comentarios_Productos.PK_ID_Comentario)") Eliminar
													.CONT_CL_Comentario_Producto.Base-100
														textarea.Textarea_Estilo_2.CONT_Mensaje_Producto.CL_TXT_Texto_1.CL_TXT_Gris.Base-100.tablet-80(ng-click="FN_Editar_Comentario($index,1)",ng-model="Comentarios_Productos.Descripcion",ng-if="Comentarios_Productos.Nombre_Usuario == dato.AOBJ_Datos_Usuario[0].Nombre_Usuario",ng-disabled=" Comentarios_Productos.Nombre_Usuario != dato.AOBJ_Datos_Usuario[0].Nombre_Usuario")  {{Comentarios_Productos.Descripcion}}
													.CONT_Mensaje_Producto.CL_TXT_Texto_1.CL_TXT_Gris(ng-if="Comentarios_Productos.Nombre_Usuario != dato.AOBJ_Datos_Usuario[0].Nombre_Usuario",ng-disabled=" Comentarios_Productos.Nombre_Usuario != dato.AOBJ_Datos_Usuario[0].Nombre_Usuario")  {{Comentarios_Productos.Descripcion}}
													.CL_Herramientas_Comentario_Producto.Grid_Contenedor.Base-100.main_end.Padding-5
														.Grid_Item.CL_TXT_Texto_1.CL_TXT_Gris.Base-100.tablet-30 {{Comentarios_Productos.Fecha_Comentario | date:'longDate'}}
														.CL_Valoracion_Comentario_Producto.Grid_Item.relative.CL_TXT_Pri_Btn.icon-thumbs-o-up.Base-30.tablet-20.Grid_Contenedor.abcenter.Enlace(ng-click="FN_Valoracion_Comentario($index)",ng-hide="Comentarios_Productos.Nombre_Usuario == dato.AOBJ_Datos_Usuario[0].Nombre_Usuario") {{Comentarios_Productos.Valoracion_Comentario}}
															span.CL_TXT_Info_Btn.top-30_30.left-5 Valoraci&oacute;n
				section#SC_Ordenes_Enviadas(ng-show="BL_Ordenes_Enviadas == true")
					#CONT_Invisible(ng-click="FN_Ordenes_Enviadas(1)")
						.CL_Cerrar_Modal.CL_Transparente
					.CL_CONT_Ordenes_Enviadas.Grid_Contenedor.Base-100.tablet-50.justify
						.Grid_Contenedor.CL_Cabezera_Envio_Orden.relative
							p.Enlace.icon-flecha2.relative.left-10(ng-click="FN_Ordenes_Enviadas(4)",ng-if="BL_Detalle_Orden_Enviada == true && BL_Ordenes_Enviadas_Flecha == true")
							p.Enlace.icon-flecha2.relative.left-10(ng-click="FN_Ordenes_Enviadas(2)",ng-if="BL_Detalle_Orden_Enviada == true && BL_Pedidos_Enviados_Flecha == true")
							.Grid_Contenedor.abcenter.Base-40
								p.CL_TXT_Texto_4.CL_TXT_Gris.center(ng-show="BL_Lista_Ordenes_Enviadas == true") Ordenes enviadas
								p.CL_TXT_Texto_4.CL_TXT_Gris.center(ng-show="BL_Lista_Pedidos_Enviados == true") Pedidos enviados
								p.CL_TXT_Texto_4.CL_TXT_Gris.center(ng-show="BL_Detalle_Orden_Enviada == true") Detalles

							p.CL_Eliminar_1_1(ng-click="FN_Ordenes_Enviadas(1)")
						.Grid_Contenedor.Cl_CONT_Envio_Orden.Grid_Item.cross_start(ng-if="BL_Lista_Ordenes_Enviadas == true")
							.Base-100.CL_Orden_Enviada.abcenter.ng_repeat_anim1(ng-repeat="Ordenes_Enviadas in AOBJ_Lista_Ordenes_Enviadas")
								.Grid_Contenedor.Base-100
									.Tabla_Estilo_1
										table
											thead
												tr
													th Codigo 
													th Estado
													th.Base-100 Fecha de envio
													th Dirrección
													th Telefono
													th Acciones
													th
											tbody
												tr
													td {{Ordenes_Enviadas.PK_ID_Cotizacion_Usuario}}
													td.CL_Estado_CONT
														.CL_Icono_Estado.CL_TXT_Pri_Btn.relative
															p(ng-class="{'CL_Estado_Confirmado icon-agregar3': Ordenes_Enviadas.Estado_Cotizacion == 'Atendido','CL_Estado_Cancelado icon-cancelado': Ordenes_Enviadas.Estado_Cotizacion == 'Cancelado','CL_Estado_EnProgreso icon-actualizar': Ordenes_Enviadas.Estado_Cotizacion == 'En proceso'}")
															span.CL_TXT_Info_Btn.left-10_10.top-10_10 {{Ordenes_Enviadas.Estado_Cotizacion}}
													td {{Ordenes_Enviadas.Fecha_Cotizacion}}
													td {{Ordenes_Enviadas.Direccion_entrega}}
													td {{Ordenes_Enviadas.Telefono_Entrega}}
													td.CL_Tbl_Icon
															
														button.icon-eye.CL_TXT_Pri_Btn.relative(title="Ver los detalles de esta orden",ng-click="FN_Ordenes_Enviadas(3);FN_Listar_Detalles_Orden_Pedido($index,1)")
															span.CL_TXT_Info_Btn.left-10_10.top-40_40 Ver detalles
													td.CL_Tbl_Icon
														button.icon-cancelar3.CL_TXT_Pri_Btn.relative(ng-if="Ordenes_Enviadas.Estado_Cotizacion == 'Cancelado' || Ordenes_Enviadas.Estado_Cotizacion == 'Atendido'",title="Eliminar del tablero de pedidos",ng-click="FN_Ordenes_Enviadas(4);FN_Confirmacion_Alerta(8,$index,false,'¿Esta seguro de eliminar la orden?')")
															span.CL_TXT_Info_Btn.left-10_10.top-40_40 Eliminar
										
							.CL_Alerta_5.Grid_Contenedor.abcenter(ng-show="(AOBJ_Lista_Ordenes_Enviadas).length == 0")
								p.CL_TXT_Texto_3.CL_TXT_Gris.left.border_bottom_1.Grid_Contenedor.abcenter.CL_TXT_Texto_5.CL_TXT_Gris No se han encontrado ordenes
						.Grid_Contenedor.Cl_CONT_Envio_Orden.Grid_Item.cross_start(ng-if="BL_Lista_Pedidos_Enviados == true")
							.Base-100.CL_Orden_Enviada.abcenter.ng_repeat_anim1(ng-repeat="Pedidos_Atendidos in AOBJ_Lista_Pedidos_Enviados")
								.Grid_Contenedor.Base-100
									.Tabla_Estilo_1
										table
											thead
												tr
													th Codigo 
													th Estado
													th.Base-100 Fecha de envio
													th Dirrección
													th Telefono
													th Acciones
													th
											tbody
												tr
													td {{Pedidos_Atendidos.PK_ID_Pedido}}
													td.CL_Estado_CONT
														.CL_Icono_Estado.CL_TXT_Pri_Btn.relative
															p(ng-class="{'CL_Estado_Confirmado icon-agregar3': Pedidos_Atendidos.Estado_pedido == 'Atendido','CL_Estado_Cancelado icon-cancelado': Pedidos_Atendidos.Estado_pedido == 'Cancelado','CL_Estado_EnProgreso icon-actualizar': Pedidos_Atendidos.Estado_pedido == 'En proceso'}")
															span.CL_TXT_Info_Btn.left-10_10.top-10_10 {{Pedidos_Atendidos.Estado_pedido}}
													td {{Pedidos_Atendidos.Fecha_Cotizacion}}
													td {{Pedidos_Atendidos.Direccion_entrega}}
													td {{Pedidos_Atendidos.Telefono_Entrega}}
													td.CL_Tbl_Icon
															
														button.icon-eye.CL_TXT_Pri_Btn.relative(title="Ver los detalles de esta orden",ng-click="FN_Ordenes_Enviadas(3);FN_Listar_Detalles_Orden_Pedido($index,2)")
															span.CL_TXT_Info_Btn.left-10_10.top-40_40 Ver detalles
													td.CL_Tbl_Icon
														button.icon-cancelar3.CL_TXT_Pri_Btn.relative(ng-if="Pedidos_Atendidos.Estado_pedido == 'Cancelado' || Pedidos_Atendidos.Estado_pedido == 'Atendido'",title="Eliminar del tablero de pedidos",ng-click="FN_Ordenes_Enviadas(2);FN_Confirmacion_Alerta(7,$index,false,'¿Esta seguro de eliminar el pedido?')")
															span.CL_TXT_Info_Btn.left-10_10.top-40_40 Eliminar
										
							.CL_Alerta_5.Grid_Contenedor.abcenter(ng-show="(AOBJ_Lista_Pedidos_Enviados).length == 0")
								p.CL_TXT_Texto_3.CL_TXT_Gris.left.border_bottom_1.Grid_Contenedor.abcenter.CL_TXT_Texto_5.CL_TXT_Gris No se han encontrado pedido
						.Grid_Contenedor.Cl_CONT_Envio_Orden.Grid_Item.cross_start(ng-if="BL_Detalle_Orden_Enviada == true")
							p.CL_TXT_Texto_4.CL_TXT_Gris Detalles de la orden
							.CL_Alerta_5.Padding-10 Precio total de la orden: {{Total_Orden_Enviada | currency}}
							.Grid_Contenedor.abcenter.CON_Paginacion.Invisible.Visible-web
								.Grid_Contenedor.Base-100.tablet-20
									p.CL_TXT_Texto_2 Pag&iacute;na: {{currentPage}}
								.Grid_Contenedor.Base-20
									input.Input_Estilo_1.No_Margin(type="number",min="1",max="100",ng-model="pageSize")
								dir-pagination-controls.Base-70.tablet-60.cross_end.Grid_Contenedor(pagination-id="Pag",boundary-links="true")
									p.CL_TXT_Texto_3.CL_TXT_Gris {{currentPage}}
									ul.main_end.CL_Paginacion_1.Grid_Contenedor(ng-if="1 < pages.length || !autoHide" )
										li(ng-if="boundaryLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
											a(href="" ng-click="setCurrent(1)") &laquo;
										li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == 1 }")
											a(href="" ng-click="setCurrent(pagination.current - 1)") &lsaquo;
										li(ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="{ active : pagination.current == pageNumber, Paginacion_Disabled : pageNumber == '...' }") {{ pageNumber }}
										li(ng-if="directionLinks" ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
											a(href="" ng-click="setCurrent(pagination.current + 1)") &rsaquo;
										li(ng-if="boundaryLinks"  ng-class="{ Paginacion_Disabled : pagination.current == pagination.last }")
											a(href="" ng-click="setCurrent(pagination.last)") &raquo;
							.Base-100.CL_Orden_Enviada.abcenter(dir-paginate="Ordenes_Detalle in AOBJ_Lista_Detalles_Pedido_Enviado | filter:Buscar | itemsPerPage: pageSize" current-page="currentPage" pagination-id="Pag")
								.Grid_Contenedor.Base-100.abcenter
									.Tabla_Estilo_1.width_fijo
										table
											thead
												tr
													th
													th.CL_TXT_Texto_1.CL_TXT_Gris Nombre 
													th.CL_TXT_Texto_1.CL_TXT_Gris Precio
													th.CL_TXT_Texto_1.CL_TXT_Gris Cantidad
													th.CL_TXT_Texto_1.CL_TXT_Gris Sub total
											tbody
												tr
													td.CL_Imagen
														img(ng-src="{{Ordenes_Detalle.Ruta_Imagen_Producto}}")
													td.CL_TXT_Texto_1.CL_TXT_Gris {{Ordenes_Detalle.Nombre_Producto}} 
													td.CL_TXT_Texto_1.CL_TXT_Gris {{Ordenes_Detalle.Valor_Unitario | currency}}
													td.CL_TXT_Texto_1.CL_TXT_Gris {{Ordenes_Detalle.Cantidad_Productos}}
													td.CL_TXT_Texto_1.CL_TXT_Gris {{Ordenes_Detalle.Sub_Total | currency}}
						.Grid_Contenedor.CL_Opciones_Orden_Pedido.abcenter
							.Grid_Contenedor.Base-40.abcenter.CL_Btn_Opcion_Orden_Pedido.Grid_Item
								a.Enlace.icon-sign-out.CL_TXT_Pri_Btn.relative(ng-click="BL_Lista_Pedidos_Enviados = false;BL_Lista_Ordenes_Enviadas = true;FN_Listar_Ordenes_Enviadas();BL_Detalle_Orden_Enviada = false")
									span.CL_Cantidad.top-10_10.absolute.left-10_10  {{dato.NUM_Cantida_Ordenes}}
									span.CL_TXT_Info_Btn.top-40_40.left-10_10 Cotizaciones enviadas
							.Grid_Contenedor.Base-40.abcenter.CL_Btn_Opcion_Orden_Pedido.Grid_Item
								a.Enlace.icon-sign-in.CL_TXT_Pri_Btn.relative(ng-click="BL_Lista_Pedidos_Enviados = true;BL_Lista_Ordenes_Enviadas = false;BL_Detalle_Orden_Enviada = false;FN_Listar_Pedidos_Enviados()")
									span.CL_Cantidad.top-10_10.absolute.left-10_10  {{dato.NUM_Cantida_Pedidos}}
									span.CL_TXT_Info_Btn.top-40_40.left-10_10 Pedidos atendidos

