<ion-view view-title="Registro De Usuario">
<ion-content>
<div ui-view="login">
  <div class="card">
    <div class="list">
      <label class="item item-input item-floating-label"><span class="input-label">Nombre De Usuario</span><input ng-model="OB_Registro_Usuario.Nombre_Usuario" type="text" placeholder="Nombre De Usuario" minlength="3"></label>

      <label class="item item-input item-floating-label"><span class="input-label">Contraseña</span><input ng-model="OB_Registro_Usuario.Contrasenia" type="text" placeholder="Contraseña" minlength="3"></label>


      <label class="item item-input item-floating-label"><span class="input-label">Email</span><input ng-model="OB_Registro_Usuario.Correo_Electronico" type="text" placeholder="Email" minlength="3"></label>


      <label class="item item-input item-floating-label"><span class="input-label">Municipio</span><input ng-model="OB_Registro_Usuario.Municipio" type="text" placeholder="Municipio" minlength="3"></label>

      <label class="item item-input item-floating-label"><span class="input-label">Departamento</span><input ng-model="OB_Registro_Usuario.Departamento" type="text" placeholder="Departamento" minlength="3"></label>

      <label class="item item-input item-floating-label"><span class="input-label">Telefono Celular</span><input ng-model="OB_Registro_Usuario.Telefono_celular" type="text" placeholder="Telefono Celular" minlength="3"></label>

      <br>
      <div class="Botones">
        <button class="button button-dark button-full" ng-disabled="!OB_Registro_Usuario.Nombre_Usuario || !OB_Registro_Usuario.Contrasenia ||  !OB_Registro_Usuario.Correo_Electronico || !OB_Registro_Usuario.Municipio || !OB_Registro_Usuario.Departamento || !OB_Registro_Usuario.Telefono_celular" ng-click="FN_Registrar_Usuario()">Registrarse</button>

      </div>
    </div>





    <div class="list"  ng-if="OB_Registro_Usuario.Posee_Empresa">
      <label class="item item-input item-floating-label"><span class="input-label">Nombre Del Establecimiento</span><input ng-model="OB_Establecimiento.Nombre_Establecimiento" type="text" placeholder="Nombre De Usuario" minlength="3"></label>

      <label class="item item-input item-floating-label"><span class="input-label">Nombre Del Encargado</span><input ng-model="OB_Establecimiento.Nombre_Encargado" type="text" placeholder="Contraseña" minlength="3"></label>


      <label class="item item-input item-floating-label"><span class="input-label">Nit</span><input ng-model="OB_Establecimiento.Nit" type="text" placeholder="Email" minlength="3"></label>


      <label class="item item-input item-floating-label"><span class="input-label">Telefono Del Establecimiento</span><input ng-model="OB_Establecimiento.Telefono_Establecimiento" type="text" placeholder="Municipio" minlength="3"></label>

      <label class="item item-input item-floating-label"><span class="input-label">Dirección Del Establecimiento</span><input ng-model="OB_Establecimiento.Direccion_Establecimiento" type="text" placeholder="Departamento" minlength="3"></label>

      <label class="item item-input item-floating-label"><span class="input-label">Municipio</span><input ng-model="OB_Establecimiento.Municipio_Establecimiento" type="text" placeholder="Telefono Celular" minlength="3"></label>

      <label class="item item-input item-floating-label"><span class="input-label">Municipio</span><input ng-model="OB_Establecimiento.FK_ID_Usuario" type="text" placeholder="Telefono Celular" minlength="3"></label>


    </div>  
  </div>
</div>

</ion-content>
</ion-view>
